[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Dock
Comment=GLX-Dock dock application
Exec=/usr/bin/cairo-dock
StartupNotify=false
Terminal=false
Hidden=false

